{% extends "base.html" %}
{% from 'macros.html' import render_form %}

{% block head %}
<div class="jumbotron masthead">
  <div class="container">
    <h1>JOBPLUS</h1>
    <h2>领先的互联网求职、招聘平台</h2>
  </div>
</div>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title" id="jobTab">
    <li class="newTab active"><a href="/">最新职位</a></li>
    <li class="newTab active"><a href="/">热门职位</a></li>
</ul>

<div class="newest-job-list">

      <div class="col-sm-6 col-md-4 job-item">
        <div class="thumbnail">
            <div class="caption">
               <b>算法类高级别岗位汇总 【2天前发布】</b>
               <p>5-10年 本科</p>
            </div>

            <div class="labels">
                <span class="label label-default">算法</span>
                <span class="label label-default">高级工程师</span>
            </div>
            <hr>
            <div class="media">
                <div class="media-left">
                    <a href="/"><img class="media-object" src="https://www.lagou.com/gongsi/89154.html"></a>
                </div>
                <div class="media-body"><h4 class="media-heading">青山资本</h4>
                    <span>金融/不需要融资/北京</span>
                </div>

            </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
               <b>课程销售顾问    [10：37前发布]</b>
               <p>1-3年 大专</p>
            </div>

            <div class="labels">
                <span class="label label-default">教育</span>
                <span class="label label-default">电话销售</span>
            </div>
            <hr>
            <div class="media">
                <div class="media-left">
                    <a href="/"><img class="media-object" src="https://www.lagou.com/gongsi/89154.html"></a>
                </div>
                <div class="media-body"><h4 class="media-heading">勺子课堂</h4>
                    <span>移动互联网/A轮/北京</span>
                </div>

            </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
               <b>Node.js后端开发    [08：54前发布]</b>
               <p>1-3年 不限</p>
            </div>

            <div class="labels">
                <span class="label label-default">后端开发</span>

            </div>
            <hr>
            <div class="media">
                <div class="media-left">
                    <a href="/"><img class="media-object" src="https://www.lagou.com/gongsi/89154.html"></a>
                </div>
                <div class="media-body"><h4 class="media-heading">宜行宜停</h4>
                    <span>移动互联网/不需要融资/四川</span>
                </div>

            </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
               <b>资深平面工程师    [2019-02-21]</b>
               <p>3-5年 本科</p>
            </div>

            <div class="labels">
                <span class="label label-default">视觉</span>
                <span class="label label-default">创意</span>
                <span class="label label-default">品牌</span>
            </div>
            <hr>
            <div class="media">
                <div class="media-left">
                    <a href="/"><img class="media-object" src="https://www.lagou.com/gongsi/89154.html"></a>
                </div>
                <div class="media-body"><h4 class="media-heading">好利来</h4>
                    <span>生活服务/不需要融资/北京</span>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
               <b>课程销售顾问    [10：37前发布]</b>
               <p>1-3年 大专</p>
            </div>

            <div class="labels">
                <span class="label label-default">教育</span>
                <span class="label label-default">电话销售</span>
            </div>
            <hr>
            <div class="media">
                <div class="media-left">
                    <a href="/"><img class="media-object" src="https://www.lagou.com/gongsi/89154.html"></a>
                </div>
                <div class="media-body"><h4 class="media-heading">勺子课堂</h4>
                    <span>移动互联网/A轮/北京</span>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <div class="caption">
               <b>课程销售顾问    [10：37前发布]</b>
               <p>1-3年 大专</p>
            </div>

            <div class="labels">
                <span class="label label-default">教育</span>
                <span class="label label-default">电话销售</span>
            </div>
            <hr>
            <div class="media">
                <div class="media-left">
                    <a href="/"><img class="media-object" src="https://www.lagou.com/gongsi/89154.html"></a>
                </div>
                <div class="media-body"><h4 class="media-heading">勺子课堂</h4>
                    <span>移动互联网/A轮/北京</span>
                </div>
            </div>
        </div>
      </div>


</div>

<p class="list-more">
    <a href="/job/" class="btn btn-success btn-lg list-more-btn">查看更多</a>
</p>

<ul class="nav nav-tabs list-title" id="companyTab">
    <li class="newTab active"><a href="/">最新公司</a></li>
    <li class="newTab active"><a href="/">热门公司</a></li>
</ul>

<div class="newest-job-list">

      <div class="col-sm-6 col-md-3 company-item">
        <div class="thumbnail">
            <a href="/">
                <img src="/" width="200" height="200" alt="..." >
                <h3>腾讯科技有限公司</h3>
            </a>
            <hr>

            <a href="/">
                <p class="center">在招职位：0</p>
            </a>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 company-item">
        <div class="thumbnail">
            <a href="/">
                <img src="/" width="200" height="200" alt="..." >
                <h3>广州小丑鱼</h3>
            </a>
            <hr>

            <a href="/">
                <p class="center">在招职位：4</p>
            </a>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 company-item">
        <div class="thumbnail">
            <a href="/">
                <img src="/" width="200" height="200" alt="..." >
                <h3>大鱼科技</h3>
            </a>
            <hr>

            <a href="/">
                <p class="center">在招职位：3</p>
            </a>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 company-item">
        <div class="thumbnail">
            <a href="/">
                <img src="/" width="200" height="200" alt="..." >
                <h3>宁美国度</h3>
            </a>
            <hr>

            <a href="/">
                <p class="center">在招职位：3</p>
            </a>
        </div>
      </div>


      <div class="col-sm-6 col-md-3 company-item">
        <div class="thumbnail">
            <a href="/">
                <img src="/" width="200" height="200" alt="..." >
                <h3>北京好脉</h3>
            </a>
            <hr>

            <a href="/">
                <p class="center">在招职位：3</p>
            </a>
        </div>
      </div>


      <div class="col-sm-6 col-md-3 company-item">
        <div class="thumbnail">
            <a href="/">
                <img src="/" width="200" height="200" alt="..." >
                <h3>跨境网</h3>
            </a>
            <hr>

            <a href="/">
                <p class="center">在招职位：3</p>
            </a>
        </div>
      </div>


      <div class="col-sm-6 col-md-3 company-item">
        <div class="thumbnail">
            <a href="/">
                <img src="/" width="200" height="200" alt="..." >
                <h3>爸爸的选择</h3>
            </a>
            <hr>

            <a href="/">
                <p class="center">在招职位：3</p>
            </a>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 company-item">
        <div class="thumbnail">
            <a href="/">
                <img src="/" width="200" height="200" alt="..." >
                <h3>微微科技有限公司</h3>
            </a>
            <hr>

            <a href="/">
                <p class="center">在招职位：3</p>
            </a>
        </div>
      </div>


</div>

<p class="list-more">
    <a href="/company/" class="btn btn-success btn-lg list-more-btn">查看更多</a>
</p>

{% endblock %}